<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ME</title>
</head>
<body>
    <div class ="container">
        <img src="/profile.png" alt="My Picture" class="profile-pic"/>
        <h1>    About Me</h1>
        <p>
            Hello! Im learning express.js and this page is served with static files
        </p>
        <input type="text" id=""nameInput placeholder="Enter your name"/>
        <p id="greeting"></p>
    </div>
    <script src="/script.js"></script>
</body>
</html>